extends email-layout

block content
  h2 Product enquiry for #{productSKU}
  p #{customerName} has enquired about the following product: 
    b #{productSKU}

  h3.email-title Message:
  p #{customerMessage}
  br
  h3.email-title Their contact details are:
  p Name: #{customerName}
  p Company: #{customerCompany}
  p Email: #{customerEmail}
  p Phone: #{customerTelephone}
  
  


