extends layout

include mixins/_categoryForm
include mixins/_adminSideBar

block content
	.admin__area
		+adminSideBar()
		.admin__main
			h2 #{title}
			div
				p This is where you can add a new Category - categories are top level - i.e. Ring, Necklace, Bracelet etc etc
			+categoryForm(category)
			h2 Saved Categories
			p When adding or updating a category please make sure you save it as SINGULAR!
			ul.category_list
				each c in categories
					pre= h.dump(categories)
					li.tag
						span.tag__text= `${c.categoryName}s`
						div.edit__wrapper
							span.tag__edit
							a(href=`/categories/${c._id}/edit` class="button btn-edit")
								<i class="fas fa-edit"></i>
							span.tag__delete
								a(href=`/category/${c._id}/delete` class="button btn-edit" )
									<i class="fas fa-trash-alt"></i>
						