doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body
    #container
      block header
        header.top
          nav.nav
            .nav__section.nav__section--pages
              li.nav__item
                a.nav__link.nav__link--logo(href="/stock1234")
                  != h.icon('logo')
              each item in h.menu
                li.nav__item
                  a.nav__link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    span #{item.title}
            .nav__section.nav__section--search
              .search
                input.search__input(type="text" placeholder="Search Model Number..." name="search")
                .search__results
            if user
              .nav__section.nav__section--user
                if user.isAdmin == false
                  li.nav__item: a.nav__link(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav__link--active' : ''))
                    span Logout
                if user.isAdmin == true
                  li.nav__item: a.nav__link.admin__link(href="/admin", class=(currentPath.startsWith('/admin') ? 'nav__link--active' : ''))
                    span Admin

      block messages
        if locals.flashes
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;

      .content
        block content

      block footer
        footer
          div
            nav.nav.footer
              each item in h.menu
                li.link__item
                  a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav__link--active' : ''))
                    span #{item.title}
              li.link__item
                a(href="/login")
                  span Login

    block scripts
      script(src="/dist/App.bundle.js")
