extends layout

block content
    .inner.inner__product
        .back__button
            p
                a(href="/products") < Back
        .card.product__card
            .product__inner
                .product__img
                    img(src=`/uploads/${product.photo || 'store.png'}`, alt="product.productName")
                .product__info
                    h2.title--color
                        a(href=`/product/${product.slug}`) #{product.productName}
                    h3.title--color Model Number: 
                        span= product.SKU
                    if product.category
                        h4.title--color Category: 
                            span= product.category
                    if product.description
                        h4.title--color Product Description:
                        p= product.description
                    if product.tags != []
                        //- pre= h.dump(product.tags)
                        ul.tags
                            each tag in product.tags
                                li.tag
                                    div.tag__link
                                        span.tag__text #{tag}
        .product__contact
                input(type="Submit" value="enquire about product" class="button btn-more")