mixin productCard(product = {})
    .store
        a(href=`/product/${product.slug}`)
            .store__hero
                img(src=`/uploads/${product.photo || 'store.png'}`, alt=product.productName)
            .store__details
                h2.title--product  #{product.productName}
                p= product.SKU