mixin productCard(product = {})
  .store
    a(href=`/stock1234/product/${product.slug}` class="store--hover")
      .store__hero
        img(src=`/uploads/${product.photo || 'store.png'}`, alt=product.SKU)
      .store__details
        p.title--product  #{product.SKU}
        p.title--product  #{product.productName}
        //- p= product.SKU
    if user
      if user.isAdmin == true
        .admin__editing
          div.edit__wrapper
            span.product__edit
              a(href=`/stock1234/products/${product._id}/edit` class="button btn-edit")
                <i class="fas fa-edit"></i>
            span.product__delete
              a(href=`/products/${product._id}/delete` class="button btn-edit" )
                <i class="fas fa-trash-alt"></i>